/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.center {
  margin: auto;
}
body {
  background-color: #ebfafa;
}
html {
  scroll-behavior: smooth;
}
.sidebar {
  margin: 0;
  padding: 0;
  width: 350px;
  background-color: #0f3d3d;
  position: fixed;
  height: 100%;
  overflow: auto;
}
.sidebar img {
  margin: auto;
  padding: 1.2rem;
}
.sidebar h2 {
  display: none;
}
.sidebar nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.sidebar nav a {
  color: #99e6e6;
  text-align: center;
  font-size: 1.5rem;
  text-decoration: none;
  padding: 1rem;
}
.sidebar nav .active {
  background-color: #33cccc;
  color: #0a2929;
}
.sidebar .veteran {
  margin: 6rem;
  padding: 0.5rem;
  width: 8rem;
}
@media only screen and (max-width: 1175px) {
  .sidebar {
    width: 250px;
  }
  .sidebar img {
    width: 13rem;
  }
  .sidebar nav a {
    text-align: center;
    font-size: 1.3rem;
  }
  .sidebar .veteran {
    margin: 4rem;
    width: 6rem;
  }
}
@media only screen and (max-width: 930px) {
  .sidebar {
    width: 150px;
  }
  .sidebar img {
    width: 7rem;
  }
  .sidebar nav a {
    text-align: center;
    font-size: 1rem;
    padding: 0.8rem;
  }
  .sidebar .veteran {
    margin: 2rem;
    width: 5rem;
  }
}
@media only screen and (max-width: 730px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: fixed;
    z-index: 10;
  }
  .sidebar img {
    display: flex;
    flex-direction: row;
    align-self: center;
    min-width: 13rem;
  }
  .sidebar nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0.5rem;
  }
  .sidebar nav a {
    font-size: 1.2rem;
    padding: 0.5rem;
  }
  .sidebar .veteran {
    display: none;
  }
}
@media only screen and (max-width: 400px) {
  .sidebar {
    justify-content: space-evenly;
  }
  .sidebar .logo {
    display: none;
  }
  .sidebar h2 {
    display: block;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: #99e6e6;
    padding: 0.5rem;
  }
  .sidebar nav {
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 1em;
  }
  .sidebar nav a {
    font-size: 1rem;
  }
}
.main {
  margin-left: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 96.5%;
  padding: 1em;
  line-height: 2;
  border-bottom: 5px double #33cccc;
}
.main header h1 {
  text-align: center;
  font-size: 2.5rem;
  color: #145252;
}
.main header h2 {
  text-align: center;
  font-size: 1.8rem;
  color: #145252;
}
.main .content {
  display: flex;
  flex-direction: row;
  padding: 1em;
}
.main .content h3 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
}
.main footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 5px double #33cccc;
  background-color: #d6f5f5;
  width: 98%;
  text-align: center;
  font-size: 1.2rem;
  line-height: 2;
}
.main footer .veteran {
  display: none;
}
@media only screen and (max-width: 1175px) {
  .main {
    margin-left: 250px;
  }
  .main header {
    width: 94%;
  }
}
@media only screen and (max-width: 930px) {
  .main {
    margin-left: 150px;
  }
}
@media only screen and (max-width: 730px) {
  .main {
    margin-left: 0;
  }
  .main header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 175px;
    line-height: 1.3;
    width: 91%;
  }
  .main header h1 {
    text-align: center;
    font-size: 1.8rem;
  }
  .main header h2 {
    text-align: center;
    font-size: 1.2rem;
  }
  .main footer {
    display: flex;
    flex-direction: row;
    position: relative;
    top: 175px;
    justify-content: space-around;
  }
  .main footer .veteran {
    display: block;
    margin: 0.5rem;
    width: 10rem;
  }
}
@media only screen and (max-width: 400px) {
  .main header {
    top: 100px;
    width: 85%;
  }
  .main header h1 {
    text-align: center;
    font-size: 1.5rem;
  }
  .main header h2 {
    text-align: center;
    font-size: 1rem;
  }
  .main footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 0.9rem;
    top: 100px;
    width: 85%;
  }
  .main footer .veteran {
    width: 6rem;
  }
}
